Flask==2.3.2 # Или используйте конкретную версию, если знаете
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.2.2 # Важно! Версия scikit-learn при развертывании должна быть такой же или очень близкой к той, на которой тренировалась модель
gunicorn==21.2.0 # Рекомендуется для продакшена вместо встроенного сервера Flask
flasgger==0.9.5 # Для Swagger/OpenAPI документации
PyYAML==6.0.1 # Зависимость flasgger